<!-- チケット表示 -->
<%
   if @issue.present? &&
      @issue.back_links.any?

   documents = @issue.backlink_by_type('Document')
   issues = @issue.backlink_by_type('Issue')
   journals = @issue.backlink_by_type('Journal')
   messages = @issue.backlink_by_type('Message')
   news = @issue.backlink_by_type('News')
   wikis = @issue.backlink_by_type('WikiContent')
%>

<%= stylesheet_link_tag("backlink", plugin: "redmine_backlink") %>

<h3><%= l(:label_reference_source) %></h3>

<div>
  <ul>
    <li>
      <%= render 'backlink/backlink_field', title: :label_document, links: documents, short: true %>
    </li>
    <li>
      <%= render 'backlink/backlink_field', title: :label_issue, links: issues, sublinks: journals, short: true %>
    </li>
    <li>
      <%= render 'backlink/backlink_field', title: :label_board, sublinks: messages, short: true %>
    </li>
    <li>
      <%= render 'backlink/backlink_field', title: :label_news, links: news, short: true %>
    </li>
    <li>
      <%= render 'backlink/backlink_field', title: :label_wiki, links: wikis, short: true %>
    </li>
  </ul>
</div>

<% end %> <!-- if -->
